*,
:after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }  

header {
    min-height: 60vh;   
    width: 1120px;  

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    
    align-items: center;
    margin: auto; 
}

header img{
    max-height: 45vh;   
}

header h1{
    font-family: "Inconsolata",monospace;
    font-size: 3rem;
    font-weight: 100;
}

header p {
    color: #0f172a;
    font-family: "Montserrat",sans-serif;
    font-size: 1.25rem;
    line-height: 35px;
    margin: 40px 0px;
}


        /*Na Parte do SUMÃRIO*/

.sumario{
    width: 1120px;  
    margin: auto;
}  

.sumario h2{
    color: #0f172a;
    font-size: 2.5rem;
    font-family: "Inconsolata",monospace;
    font-weight: normal;
    line-height: 2;
}

.sumario ul li{
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;
    line-height: 30px;
}

.sumario a{
    text-decoration: none;
    color: #0f172a;
}

.sumario a:hover{
    color: var(--clr-primary-5);
    text-decoration: underline;
}



        /*Na Parte da MAIN*/
main{
    background-color: #e2e8f0;
}

main > h2{
    color: #0f172a;
    font-size: 2.5rem;
    font-family: "Inconsolata",monospace;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    padding-top: 50px;
}

main hr{
    width: 7rem;
    margin: auto;
    border: 2px solid #f0db51;
}

/* Definido layout de todos os projetos */
section.projetos{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100vh; 
    margin-top: 40px;
}

div.explicacao{
    /* background-color: red; */
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.explicacao p{
    color: #0f172a;
    font-family: "Montserrat",sans-serif;
    font-size: 1.2rem;
    line-height: 30px;
    margin: 20px 0px;
    text-align: justify;
}

div.explicacao h2{
    color: #0f172a;
    font-size: 2rem;
    font-family: "Inconsolata",monospace;
    font-weight: normal;
    text-align: center;
}



/*PRIMEIRO PROJETO: Gerador de Cores - ARQUIVO SEPARADO*/